In [3]:
import pandas as pd

In [4]:
pd.__version__

'0.22.0'

In [8]:
df = pd.read_csv('2017.csv', skiprows=1, encoding='latin1', delimiter=';')

In [47]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2017,1,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000034079,2017-01-18,Despesa com pagamento de energia elétrica para...,97.00
1,2017,1,ACIR GURGACZ,Aluguel,004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/17,2017-01-17,Despesa com aluguel de imóvel para uso do escr...,6000.00
2,2017,1,ACIR GURGACZ,Aluguel,05.423.963/0001-11,OI MÓVEL S.A.,744526352,2017-01-18,Despesa com pagamento de telefone celular para...,418.04
3,2017,1,ACIR GURGACZ,Passagens,13.419.034/0001-67,e-Destinos.com.br,2LLTII,2017-01-23,"Companhia Aérea: LATAM, Localizador: 2LLTII. P...",1958.95
4,2017,1,ACIR GURGACZ,Passagens,63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,2QXSBC,2017-01-24,"Companhia Aérea: LATAM, Localizador: 2QXSBC. P...",1178.67

In [42]:
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  26835.0  26835.000000       26835.000000
mean    2017.0      6.639873         972.760056
std        0.0      3.278993        2148.142406
min     2017.0      1.000000        -243.400000
25%     2017.0      4.000000         120.005000
50%     2017.0      7.000000         303.320000
75%     2017.0      9.000000        1031.605000
max     2017.0     12.000000       76200.000000

In [16]:
df.shape

(26835, 10)

In [40]:
df.dtypes

ANO                           int64
MES                           int64
SENADOR                      object
TIPO_DESPESA                 object
CNPJ_CPF                     object
FORNECEDOR                   object
DOCUMENTO                    object
DATA                 datetime64[ns]
DETALHAMENTO                 object
VALOR_REEMBOLSADO           float64
dtype: object

In [21]:
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',', '.')
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])

In [39]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

In [29]:
df[df['DATA'] == '06/02/1017']

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
6593,2017,12,ELMANO FÉRRER,"Aluguel de imóveis para escritório político, c...",06.277.571/0001-54,IMOBILIÁRIA SANTA CLARA LTDA.,73859,06/02/1017,DESPESA COM PAGAMENTO DE ALUGUEL DO ESCRITÓRIO...,2973.45

In [34]:
df.loc[df['DATA'].str[-4:] == '1017', 'DATA'] = '06/02/2017'

In [35]:
df[df['DATA'] == '06/02/1017']

Empty DataFrame
Columns: [ANO, MES, SENADOR, TIPO_DESPESA, CNPJ_CPF, FORNECEDOR, DOCUMENTO, DATA, DETALHAMENTO, VALOR_REEMBOLSADO]
Index: []

In [41]:
df.loc[df['DATA'].str[-4:] != '2017']

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [43]:
df[df['VALOR_REEMBOLSADO'] == 76200.000000]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
9508,2017,12,HÉLIO JOSÉ,Divulgação da atividade parlamentar,07.713.424/0001-42,FICXAR COMUNICACAO EIRELI - ME,276,2017-12-21,Divulgação da atividade parlamentar,76200.0

In [45]:
df['TIPO_DESPESA'].unique()

array(['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Divulgação da atividade parlamentar',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Serviços de Segurança Privada'], dtype=object)

In [46]:
df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map({'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel', 
                                            'Passagens aéreas, aquáticas e terrestres nacionais': 'Passagens',
                                            'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Locomoção, Hospedagem, Alumentação',
                                            'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.': 'Gerais',
                                            'Divulgação da atividade parlamentar': 'Divulgação',
                                            'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Contratação',
                                            'Serviços de Segurança Privada': 'Segurança'
                                            })